body {
 background-color: #FFFFFF;
 color: #000;
}
input{
 

    width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
h3 {
 color: #000000;
 text-align: center;
 font: bold 120% fantasy;
}